{% macro render_field(field) %}
  {% if field.errors %}
    <ul>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <dt>{{ field.label }}</dt>
  <dd>{{ field(**kwargs)|safe }}</dd>
{% endmacro %}
