{% from "_formhelpers.html" import render_field %}
<h2>アカウント編集</h2>
<form method="POST" action="/change_info">
    <dl>
        {{ render_field(form.current_password) }}
        {{ render_field(form.email) }}
        {{ render_field(form.nickname) }}
        {{ render_field(form.password) }}
        {{ render_field(form.password_confirm) }}
    </dl>
    <p><input type="submit" value="編集"></p>
</form>
