{% from "_formhelpers.html" import render_field %}
<h2>問い合わせ</h2>
<form method="POST" action="/contact">
    <dl>
        {{ render_field(form.email) }}
        {{ render_field(form.question_type) }}
        {{ render_field(form.content) }}
    </dl>
    <p><input type="submit" value="確定"></p>
</form>
