{% from "_formhelpers.html" import render_field %}
<h2>退会</h2>
<form method="POST" action="/deactive">
    <dl>
        {{ render_field(form.reason) }}
    </dl>
    <p><input type="submit" value="退会する"></p>
</form>
