<h2><a href="/main">教えて！bucho</a></h2>
<h4>{{ category }}質問</h4>
{% for question in questions.items %}
<a href="/question/{{ question.id }}">{{ question.content }}</a><br />
{% endfor %}
<div>
{% for page in questions.iter_pages(left_edge=2, left_current=9, right_current=9, right_edge=2) %}
    {% if page %}
        {% if page != questions.page %}
        <a href="{{ url_for('recent_question', page=page)}}">{{ page }}</a>
        {% else %}
        <strong>{{ page }}</strong>
        {% endif %}
    {% else %}
        <span>...</span>
    {% endif %}
{% endfor %}

