{% from "_formhelpers.html" import render_field %}
<h2>ログイン</h2>
{% if error %}
<p>{{ error }}</p>
{% endif %}
<form method="POST" action="/login">
    <dl>
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.remeber_me) }}
    </dl>
    <p><input type="submit" value="ログイン"></p>
</form>
<a href="/register">会員登録がまだ済みでない方はこちら</a> <br />
<a href="/renew_password">パスワードを忘れた方はこちら</a>
