<h2>教えて！bucho</h2>
<a href="/change_info">アカウント編集</a><br />
<a href="/logout">ログアウト</a><br/>
<a href="/new_question">質問する</a><br/>
<a href="/recent_questions">最近された質問一覧</a><br/>
<a href="/unanswered_questions">まだ未回答の質問一覧</a><br/>
<a href="/deactive">退会</a><br />
<h4>最近した質問</h4>
{% for question in info['recent_questions'].items %}
<a href="/question/{{ question.id }}">{{ question.content }}</a><br />
{% endfor %}
<div>
{% for page in info['recent_questions'].iter_pages(left_edge=2, left_current=9, right_current=9, right_edge=2) %}
    {% if page %}
        {% if page != info['recent_questions'].page %}
        <a href="{{ url_for('main', page=page, answer_page=1 )}}">{{ page }}</a>
        {% else %}
        <strong>{{ page }}</strong>
        {% endif %}
    {% else %}
        <span>...</span>
    {% endif %}
{% endfor %}
</div>
<h4>最近した回</h4>
{% for answer in info['recent_answers'].items %}
<a href="/question/{{ answer.question.id }}">{{ answer.question.content }}</a><br />
{% endfor %}
<div>
{% for page in info['recent_answers'].iter_pages(left_edge=2, left_current=9, right_current=9, right_edge=2) %}
    {% if page %}
        {% if page != info['recent_answers'].page %}
        <a href="{{ url_for('main', page=1, answer_page=page )}}">{{ page }}</a>
        {% else %}
        <strong>{{ page }}</strong>
        {% endif %}
    {% else %}
        <span>...</span>
    {% endif %}
{% endfor %}

