{% from "_formhelpers.html" import render_field %}
<h2>質問</h2>
<form method="POST" action="/new_question">
    <dl>
        {{ render_field(form.content) }}
    </dl>
    <p><input type="submit" value="質問する"></p>
</form>
