<h2><a href="/main">教えて！bucho</a></h2>
<p>{{ info['question'].content }} by {{ info['question'].owner.nickname }}<p>
<p>回答：全{{ info['answers']|length }} 件<p>
{% for answer in info['answers'] %}
<p>{{ answer.content }} by {{ answer.owner.nickname }}
{% endfor %}
{% if form %}
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="/question/{{ info['question'].id }}">
        <dl>
            {{ render_field(form.content) }}
        </dl>
        <p><input type="submit" value="回答する">
    </form>
{% endif %}
