{% from "_formhelpers.html" import render_field %}
<h2>会員登録</h2>
<form method="POST" action="/register_confirm">
    <dl>
        {{ render_field(form.email) }}
        {{ render_field(form.nickname) }}
        {{ render_field(form.password) }}
        {{ render_field(form.password_confirm) }}
    </dl>
    <p><input type="submit" value="登録"></p>
</form>
