<h2>会員登録確認</h2>
<form method="POST" action="/register_complete">
    <dl>
        <dd>メールアドレス:{{ session['new_user_email'] }}</dd>
        <dd>ニックネーム:{{ session['new_user_nickname'] }}</dd>
        <dd>パスワード: ******</dd>
    </dl>
    <p><input type="submit" value="確定">
</form>
