{% from "_formhelpers.html" import render_field %}
<h2>パスワードリマインダー</h2>
<form method="POST" action="/renew_password">
    <dl>
        {{ render_field(form.email) }}
    </dl>
    <p><input type="submit" value="確定"></p>
</form>
